{{define "mixtape"}}
<html>
	<head>
		<title>Mixtape</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style type="text/css">
			body {
				font-size: 1.2em;
				margin: 1em;
			}
			#playlist {
				list-style: decimal-leading-zero;
				margin: 1em 0;
			}
			#playlist li {
				margin: 0.5em 0;
			}
			li p {
				display: none;
				font-style: italic;
			}
			li.active a {
				font-weight: bold;
			}
			li.active p {
				display: block;
			}
		</style>
	</head>
	<body>
		{{template "full-player" .Tracks}}
	</body>
</html>
{{end}}

{{define "track-info"}}
    {{if eq .Num 1}}
		<p>[Here I might introduce this mix.]</p>
		<p>[Some notes about track 1.]</p>
    {{else if eq .Num 2}}
		<p>[Some notes about track 2.]</p>
    {{else if eq .Num 5}}
		<p>[Some notes about track 5.]</p>
    {{end}}
{{end}}