{{define "mixtape"}}
<html>
	<head>
		<title>Mixtape</title>
		<style type="text/css">
			body {
				font-size: 1.2em;
				margin: 1em;
			}
			#playlist {
				list-style: decimal-leading-zero;
				margin: 1em 0;
			}
			#playlist li {
				margin: 0.5em 0;
			}
			li.active a {
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		{{template "full-player" .Tracks}}
	</body>
</html>
{{end}}